<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.ScoringResultMapper">

    <resultMap id="BaseResultMap" type="generator.domain.ScoringResult">
            <id property="id" column="id" />
            <result property="resultName" column="resultName" />
            <result property="resultDesc" column="resultDesc" />
            <result property="resultPicture" column="resultPicture" />
            <result property="resultProp" column="resultProp" />
            <result property="resultScoreRange" column="resultScoreRange" />
            <result property="appId" column="appId" />
            <result property="userId" column="userId" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
            <result property="isDelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,resultName,resultDesc,resultPicture,resultProp,resultScoreRange,
        appId,userId,createTime,updateTime,isDelete
    </sql>
</mapper>
