<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.UserAnswerMapper">

    <resultMap id="BaseResultMap" type="generator.domain.UserAnswer">
            <id property="id" column="id" />
            <result property="appId" column="appId" />
            <result property="appType" column="appType" />
            <result property="scoringStrategy" column="scoringStrategy" />
            <result property="choices" column="choices" />
            <result property="resultId" column="resultId" />
            <result property="resultName" column="resultName" />
            <result property="resultDesc" column="resultDesc" />
            <result property="resultPicture" column="resultPicture" />
            <result property="resultScore" column="resultScore" />
            <result property="userId" column="userId" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
            <result property="isDelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,appId,appType,scoringStrategy,choices,resultId,
        resultName,resultDesc,resultPicture,resultScore,userId,
        createTime,updateTime,isDelete
    </sql>
</mapper>
